.tabPane {
    -fx-min-width: 1024px;
}

.perspectivesTabPane {
    -fx-max-width: 500px;
    -fx-tab-max-width: 100px;
}

.label {
    -fx-label-padding: 8px;
}

.vBox, .hBox {
    -fx-padding: 16px;
}

.vBox {
    -fx-border-color: rgba(124, 123, 129, 0.8);
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-min-width: 250px;
}

.perspectiveHBox {
    -fx-padding: 16px 0;
}

.gridPane {
    -fx-padding: 10px;
}

.deleteProject {
    -fx-background-color: #aa0c00;
    -fx-text-fill: white;
}

.gridPaneLabel {
    -fx-text-alignment: right;
}

.gridPaneInput {
    -fx-pref-width: 250px;
}