.tabPane {
    -fx-min-width: 1024px;
}

.perspectivesTabPane {
    -fx-max-width: 500px;
    -fx-tab-max-width: 100px;
}

.label {
    -fx-label-padding: 8px;
}

.vBox, .hBox {
    -fx-padding: 16px;
}

.perspectiveHBox {
    -fx-padding: 16px 0;
}

.gridPane {
    -fx-padding: 10px;
}